body {
	font-family:Arial;
}

#homePage, #namePage, #ingredientsPage, #commentForm, #submitPage {
	text-align:center;
}

#drinkPage h2 {
	text-align: center;
}

#submitPage textarea {
	width:99%;
	margin-right:auto;
}

#submitPage h3 {
	text-align:left;
}

#submitPage table {
	width:100%;
	max-width:100%;
}

#submitPage td {
	margins:12%;
}

#bin #binList li {
	font-size: 100%;
}

#bin .binRemove {
	position: absolute;
	right: 10px;
	top: 2px;
}

.badges {
	visibility:hidden;
	position:fixed;
	width:1.5em;
	height:1.5em;
	z-index:2;
}

.counterDisplay {
	position:fixed;
	z-index:3;
	text-align:center;
}

#drinkPage h3 {
	display: inline;
}

#drinkPage #showHideComments {
	font-style: italic;
	font-size: 70%;
}
