body {
	font-family:Arial;
}

#homePage {
	text-align:center;
}

#namePage {
	text-align:center;
}

#ingredientsPage {
	text-align:center;
}

#commentForm {
	text-align: center;
}

#drinkPage #ratings {
	text-align: center;
	display: inline-block;
	width: 35px;
}

#drinkPage #ingredients {
	display: inline-block;
	position: relative;
	left: 10px;
	top: -10px;
}

